/* RESET IMPORTANTE (evita scroll horizontal) */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* =========================
   NAVBAR
========================= */

nav {

  width: 100%;

  padding: 14px 8%;

  display: flex;

  justify-content: space-between;

  align-items: center;

  position: fixed;

  top: 0;

  left: 0;

  z-index: 1000;

  background: rgba(255,255,255,.72);

  backdrop-filter: blur(14px);

  transition: .3s;

  border-bottom: 1px solid rgba(255,255,255,.4);

  box-sizing: border-box;
}


/* NAV SCROLL EFFECT */

.nav-scroll {

  background: rgba(255,255,255,.95);

  box-shadow: 0 10px 30px rgba(0,0,0,.12);
}


/* =========================
   LOGO
========================= */

.logo {

  display: flex;

  align-items: center;

  gap: 12px;

  font-size: 1.4rem;

  font-weight: 700;

  color: var(--pink);
}

.logo img {

  width: 75px;

  height: 75px;

  border-radius: 50%;

  object-fit: cover;

  box-shadow: 0 8px 20px rgba(255,79,139,.15);
}


/* =========================
   MENU
========================= */

nav ul {

  display: flex;

  gap: 30px;

  list-style: none;

  align-items: center;

  margin: 0;

  padding: 0;
}

nav ul li a {

  text-decoration: none;

  color: #444;

  font-weight: 500;

  position: relative;

  transition: .3s;
}


/* EFECTO LINEA */

nav ul li a::after {

  content: "";

  position: absolute;

  left: 0;

  bottom: -6px;

  width: 0;

  height: 2px;

  background: var(--pink);

  transition: .3s;
}

nav ul li a:hover {

  color: var(--pink);
}

nav ul li a:hover::after {

  width: 100%;
}


/* =========================
   MENU HAMBURGUESA
========================= */

.menu-toggle {

  display: none;

  font-size: 2rem;

  cursor: pointer;

  color: var(--pink);
}


/* =========================
   RESPONSIVE
========================= */

@media(max-width:768px){

  nav {

    padding: 14px 5%;
  }

  .menu-toggle {

    display: block;
  }

  nav ul {

    position: absolute;

    top: 100%;

    left: 0;

    width: 100%;

    background: white;

    flex-direction: column;

    align-items: center;

    gap: 25px;

    padding: 25px 0;

    display: none;

    box-shadow: 0 10px 25px rgba(0,0,0,.08);
  }

  nav ul.active {

    display: flex;
  }
}